
*.fits
*.tab
*.lod
*.headpar
*.coldef
*.for_ota_tab
*.lod_tmp
*.txt
*.ps
*.2color
*.5color
*.3color
*.1color
*.4color
*.ised
*.ascii
*.dec
*.SED
*.log
*.johnson
*.cousins
ucsbsim/synphot/synphot4/grp/redcat/trds/grid/k93models/kp05/AA_README
*.obj
*.exp
*.pyd
*.so
*.lib
*.o
*.egg
*.npy
*.pyc
*.c
*.f
*.res
ucsbsim/synphot/synphot2/grp/redcat/trds/grid/bpgs/BPGS_README
*.ipynb
ucsbsim/synphot/synphot4/grp/redcat/trds/grid/k93models/create_kur_etc.py
ucsbsim/synphot/synphot4/grp/redcat/trds/grid/k93models/readfile.py
ucsbsim/synphot/synphot6/grp/redcat/trds/calspec/names2
UNKNOWN.egg-info/PKG-INFO
ucsbsim/synphot/synphot4/grp/redcat/trds/grid/k93models/kp02/AA_README
